<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @semester.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @semester.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @semester.end_date %>
</p>

<p>
  <b>Advisement start:</b>
  <%= @semester.advisement_start %>
</p>

<p>
  <b>Advisement end:</b>
  <%= @semester.advisement_end %>
</p>

<p>
  <b>Term:</b>
  <%= @semester.term.name %>
</p>

<p>
  <b>Year:</b>
  <%= @semester.year %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
