<%= form_for(@silent_install) do |f| %>
  <% if @silent_install.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@silent_install.errors.count, "error") %> prohibited this silent_install from being saved:</h2>

      <ul>
      <% @silent_install.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :storage_location %><br />
    <%= f.text_field :storage_location %>
  </div>
  <div class="field">
    <%= f.label :creation_date %><br />
    <%= f.date_select :creation_date %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
