<h2>Listing silent_installs</h2>

<table class="table table-bordered">
  <tr>
    <th>File name</th>
    <th>Storage location</th>
    <th>Creation date</th>
    <th>Comment</th>
    <th>User</th>
    <th>Software</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @silent_installs.each do |silent_install| %>
  <tr>
    <td><%= silent_install.file_name %></td>
    <td><%= silent_install.storage_location %></td>
    <td><%= silent_install.creation_date %></td>
    <td><%= silent_install.comment %></td>
    <td><%= silent_install.user_id %></td>
    <td><%= silent_install.software_id %></td>
    <td><%= link_to 'Show', silent_install %></td>
    <td><%= link_to 'Edit', edit_silent_install_path(silent_install) %></td>
    <td><%= link_to 'Destroy', silent_install, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Silent install', new_silent_install_path %>
