<h2>Listing requests</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Comment</th>
    <th>Source url</th>
    <th>Instructions</th>
    <th>Request status</th>
    <th>User</th>
    <th>Image</th>
    <th>Software Reference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.name %></td>
    <td><%= request.year %></td>
    <td><%= request.comment %></td>
    <td><%= request.source_url %></td>
    <td><%= request.instructions %></td>
    <td><%= request.request_status.name %></td>
    <td><%= request.user.name %></td>
    <td><%= link_to request.image.name, request.image %></td>
    <td><%= link_to request.software.name, request.software %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_request_path %>
