<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @request.name %>
</p>

<p>
  <b>Year:</b>
  <%= @request.year %>
</p>

<p>
  <b>Comment:</b>
  <%= @request.comment %>
</p>

<p>
  <b>Software category:</b>
  <%= @request.software_category.name %>
</p>

<p>
  <b>Source url:</b>
  <%= @request.source_url %>
</p>

<p>
  <b>Instructions:</b>
  <%= @request.instructions %>
</p>

<p>
  <b>Request status:</b>
  <%= @request.request_status.name %>
</p>

<p>
  <b>User:</b>
  <%= @request.user.name %>
</p>

<p>
  <b>Image:</b>
  <%= @request.image.name %>
</p>

<p>
  <b>Software:</b>
  <%= @request.software.name %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
