<h1>Listing software_tests</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Student tester</th>
    <th>Student test date</th>
    <th>Faculty tester</th>
    <th>Faculty test date</th>
    <th>Email confirmation date</th>
    <th>Comment</th>
    <th>Software</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @software_tests.each do |software_test| %>
  <tr>
    <td><%= software_test.student_tester_id %></td>
    <td><%= software_test.student_test_date %></td>
    <td><%= software_test.faculty_tester_id %></td>
    <td><%= software_test.faculty_test_date %></td>
    <td><%= software_test.email_confirmation_date %></td>
    <td><%= software_test.comment %></td>
    <td><%= software_test.software_id %></td>
    <td><%= link_to 'Show', software_test %></td>
    <td><%= link_to 'Edit', edit_software_test_path(software_test) %></td>
    <td><%= link_to 'Destroy', software_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Software test', new_software_test_path %>
