<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @software.name %>
</p>

<p>
  <b>Year:</b>
  <%= @software.year %>
</p>

<p>
  <b>Comment:</b>
  <%= @software.comment %>
</p>

<p>
  <b>Source url:</b>
  <%= @software.source_url %>
</p>

<p>
  <b>Software category:</b>
  <%= @software.software_category.name %>
</p>

<p>
  <b>Version:</b>
  <%= @software.version %>
</p>

<p>
  <b>Silent Install:</b>
  <%= @software.silent_install.name %>
</p>

<p>
  <b>Software Test:</b>
  <%= @software.software_test.name %>
</p>


<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>
