<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Management:</b>
  <%= @user.management %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Non-CSIT Faculty or Staff:</b>
  <%= @user.non_csit %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>Last sign-in at:</b>
  <%= @user.last_sign_in_at %>
</p>

<p>
  <b>Last sign-in IP:</b>
  <%= @user.last_sign_in_ip %>
</p>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_user_path %>
