<h2>Listing installs</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Software</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @installs.each do |install| %>
  <tr>
    <td><%= install.name %></td>
    <td><%= link_to install.image.name, install.image %></td>
    <td><%= link_to install.software.name, install.software %></td>
    <td><%= link_to 'Show', install %></td>
    <td><%= link_to 'Edit', edit_install_path(install) %></td>
    <td><%= link_to 'Destroy', install, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Install', new_install_path %>
