<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @install.name %>
</p>

<p>
  <b>Image:</b>
  <%= @install.image.name %>
</p>

<p>
  <b>Software:</b>
  <%= @install.software.name %>
</p>


<%= link_to 'Edit', edit_install_path(@install) %> |
<%= link_to 'Back', installs_path %>
