<p id="notice"><%= notice %></p>

<p>
  <b>Install name:</b>
  <%= @install.name %>
</p>

<p>
  <b>Image:</b>
  <%= link_to @install.image.name, @install.image %>
</p>

<p>
  <b>Software:</b>
  <%= link_to @install.software.name, @install.software %>
</p>


<%= link_to 'Edit', edit_install_path(@install) %> |
<%= link_to 'Back', installs_path %>
