<%= form_for(@after_hours_access) do |f| %>
  <% if @after_hours_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@after_hours_access.errors.count, "error") %> prohibited this after_hours_access from being saved:</h2>

      <ul>
      <% @after_hours_access.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br />
    <%= f.number_field :semester_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
