<h2>Listing after_hours_accesses</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Location</th>
    <th>Semester</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Student ID</th>
    <th>Authorized By</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @after_hours_accesses.each do |after_hours_access| %>
  <tr>
    <td><%= link_to after_hours_access.location.name, after_hours_access.location %></td>
    <td><%= link_to after_hours_access.semester.name, after_hours_access.semester %></td>
    <td><%= after_hours_access.first_name %></td>
    <td><%= after_hours_access.last_name %></td>
    <td><%= show_sid(after_hours_access.sid) %></td>
    <td><%= after_hours_access.user.name %></td>
    <td><%= link_to 'Show', after_hours_access %></td>
    <td><%= link_to 'Edit', edit_after_hours_access_path(after_hours_access) %></td>
    <td><%= link_to 'Destroy', after_hours_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New After hours access', new_after_hours_access_path %>
