<h2>Listing images</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Solicit start</th>
    <th>Submit deadline</th>
    <th>Test deadline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.name %></td>
    <td><%= image.solicit_start %></td>
    <td><%= image.submit_deadline %></td>
    <td><%= image.test_deadline %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
