<div class="navbar">
  <div class="navbar-inner">
    <%= link_to 'mosh', root_url, class: 'brand' %>

    <ul class="nav">

      <%= render 'layouts/labs' %>

      <%= render 'layouts/posters' %>

      <%= render 'layouts/workorders' %>

      <%= render 'layouts/supplies' %>

      <%= render 'layouts/advisement' %>

    </ul>

    <%= render 'layouts/right' %>

  </div>
</div>
