<div class="navbar navbar-inverse">
  <div class="navbar-inner">

    <ul class="nav">

      <%= render 'layouts/labs' %>

      <%= render 'layouts/posters' %>

      <%= render 'layouts/workorders' %>

      <%= render 'layouts/supplies' %>

      <%= render 'layouts/advisement' %>

    </ul>

    <%= render 'layouts/right' %>

  </div>
</div>
