<div class="navbar">
  <div class="navbar-inner">
    <%= link_to 'MOSH', root_url, class: 'brand' %>

    <ul class="nav">
     <li class="divider-vertical"></li>

     <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-beaker"></i> Labs
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Lab Overview', '#' %></li>
          <li><%= link_to 'Hardware', '#' %></li>
          <li><%= link_to 'Software', '#' %></li>
          <li><%= link_to 'After Hours', '#' %></li>
        </ul>
     </li>

     <li class="divider-vertical"></li>
     <li>
       <%= link_to '#' do %>
        <i class="icon-print"></i>
        Posters
       <% end %>
     </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to '#' do %>
          Work Orders
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      <li><%= link_to 'Supplies', '#' %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to 'Advisement', '#' %></li>
    </ul>

    <div class="btn-group pull-right">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        admin
        <span class="caret"></span>
      </a>
      <ul class ="dropdown-menu">
        <li><%= link_to 'Preferences', '#' %></li>
        <li class="divider"></li>
        <li><%= link_to 'Logout', '#' %></li>
      </ul>
    </div>
  </div>
</div>
