<div class="navbar">
  <div class="navbar-inner">

    <ul class="nav">
      <li><%= image_tag 'mosh-cropped-smallest.png' %></li>

      <%= render 'layouts/labs' %>

      <%= render 'layouts/posters' %>

      <%= render 'layouts/workorders' %>

      <%= render 'layouts/supplies' %>

      <%= render 'layouts/advisement' %>

    </ul>

    <%= render 'layouts/right' %>

  </div>
</div>
